.catalog {
	padding: 69px 0px 58px;
	.page-title {
		margin-bottom: 60px;
	}
	&-geo {
		align-items: center;
		margin-bottom: 46px;
		font-size: 18px;
		font-weight: 400;
		color: $black;
		text-decoration: underline;
		display: none;
		img {
			margin-right: 10px;
		}
	}
	
}
@media only screen and (max-width: 576px) {
	.catalog {
		padding-top: 40px;
		padding-bottom: 40px;
		&-geo {
			display: flex;
		}
		.filters-sub {
			display: none!important;
		}
		&-sel {
			margin-bottom: 20px;
		}
	}
}